/* body {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  font-weight: 300;
  font-size: 1.5rem;
}

.titel{
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    letter-spacing: 1px;
    /* margin: -0.3em 0 0.5em; */
} */
